@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --black: #130f0d;
  --primary: #fd951f;
  --primary-dark: #dd7b0c;
  --white: #f0f0f9;
  margin: 0 auto;
  margin-top: 5vh;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--primary);
}

*,
button,
input {
  font-family: 'Roboto', sans-serif;
}